<!--<header>
    <h1>Welcome to Our Site</h1>
    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/howitworks.html">How It Works</a></li>
            <li><a href="/contacts.html">Contact</a></li>
        </ul>
    </nav>
</header>-->
<!-- Header 2 -->
<header class="py-10 bg-bg-3 text-center">
    <div class="container">
        <h2 class="display-3 mb-4 mb-xl-6 aos-init aos-animate" data-aos="fade-down" data-aos-delay="0">3D копія = 3D скан + 3D друк</h2>
        <p class="fs-1 mb-6 mb-md-8 remove-br aos-init aos-animate" data-aos="fade-down" data-aos-delay="250">надрукуємо деталь із пластику і надішлемо поштою</p>
    </div>
</header>
