<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Startup preview - Main page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="custom" content="MzEwNDM3" id="snextras">
    <link rel="icon" href="https://designmodo.com/startup/app/i/favicon-default.png">
    <!-- AOS 3.0.0-beta.6 plugin CSS (Animations) -->
    <link rel="stylesheet" href="assets/aos.css">
    <!-- Google Fonts -->
    <link href="assets/css2" rel="stylesheet" id="sf-google-fonts">
    <!-- Startup CSS + Bootstrap CSS (Styles for all blocks) - Remove ".min" if you want to edit a css code -->
    <link href="assets/styles.min.css" rel="stylesheet" id="sf-custom-css">
    <!-- jQuery 3.6.0 (uncomment line below if you need jQuery) -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <!-- Styles for controls (delete, move, edit, block name) -->
    <link href="assets/preview.css" rel="stylesheet">
    <!-- Open graph settings (social networks sharing settings) -->
    <meta name="twitter:card" content="summary_large_image">
    <!-- Open graph settings end -->
</head>
<body data-aos-easing="ease-out-cubic" data-aos-duration="500" data-aos-delay="0">



    {% include header.html %}

    <main>
        {{ content }}
    </main>

    {% include footer.html %}

</body>
</html>

